*{
	box-sizing: border-box;
}

#blogotron 
{
    color: white;
    font-size: 5vw;
    font-family: 'Oswald', sans-serif;
   	margin-top: 5px;
    float: right;
}

.navbar-brand img{
	float:left;

}
.navbar-default
{
	background: #252525;

	
}

#profile
{
	margin-right: 10px;
	font-size: 1.5em;
}

.navbar-nav{
	color:white;
	
	
	
}
.navbar-header
{


}
.dropdown-menu
{

background: #252525;
color: white;
border-color: white;
padding: 5px;
font-size: 1vw;
text-align: center;
}


#nav-list a
	{
	text-align: center;
	
	margin: 5px;
	color:white;
	padding: 5px;
	font-size: 1.5em;
	
}

#nav-list div
	{
	text-align: center;
	
	margin-right: 10px;
	color:white;
	padding: 5px;
	
	
}




.navbar-right
{
	float:right;
}


/*end of header*/

body{
  background-image:url('http://www.allmacwallpaper.com/get/iMac-27-inch-wallpapers/Beach-Way-2560x1440/683-10.jpg');
}

.articlestuff{
height:20%;
overflow:hidden;
border: 1px solid black;
margin:30px;
background-color:#fff;


}

.articlestuff:hover{
box-shadow: 0 0 50px yellow;
text-decoration: none;
}

#articles a{
    text-decoration: none;
    color:black;
    

}

#artcontent
{
    height:200px;
    overflow:hidden;
}
