*{
	box-sizing: border-box;
}

#blogotron 
{
    color: white;
    font-size: 3.5em;
    font-family: 'Oswald', sans-serif;
   	margin-top: 5px;
   
}

h1{
    font-family: 'Merriweather', serif;

}

.navbar-brand img{
	float:left;

}
.navbar-default
{
	background: #252525;

	
}

#profile
{
	margin-right: 10px;
	font-size: 1.5em;
}

.navbar-nav{
	color:white;
	
	
	
}
.navbar-header
{


}
.dropdown-menu
{

background: #252525;
color: white;
border-color: white;
padding: 5px;
font-size: 1vw;
text-align: center;
}

#nav-list a
	{
	text-align: center;
	font-family: 'Trirong', serif;
	margin: 5px;
	color:white;
	padding: 5px;
	font-size:large;
	
}


#nav-list div
	{
	text-align: center;
	margin-top:20px;
	margin-right: 10px;
	color:white;
	padding: 5px;
	font-size:large;
	font-family:'Trirong', serif;
}



#homelink,#profilelink{
    text-align: center;
	margin:20px;
	margin-right: 10px;
	color:white;
	padding: 5px;
}




.navbar-right
{
	float:right;
}


/*end of header*/

body{
  
  background: url('http://www.allmacwallpaper.com/get/iMac-27-inch-wallpapers/Beach-Way-2560x1440/683-10.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    overflow-y:auto;
}

.articlestuff{
height:563px;
overflow:hidden;
border: 1px solid black;
margin-bottom:30px;
background-color:#fff;
width:100%;
border-radius:10%;
box-shadow: 0 0 50px black;
padding:10px;
}

.articlestuff:hover{
box-shadow: 0 0 50px yellow;
text-decoration: none;

}

#articles a{
    text-decoration: none;
    color:black;
    

}

#artcontent
{
    height:200px;
    overflow:hidden;
}


#nav-list a:hover{
    color:black;
    background:white;
}