*{
	box-sizing: border-box;
}

#blogotron 
{
    color: white;
    font-size: 5vw;
    font-family: 'Oswald', sans-serif;
   	margin-top: 5px;
    float: right;
}

.navbar-brand img{
	float:left;

}
.navbar-default
{
	background: #252525;

	
}

#profile
{
	margin-right: 10px;
	font-size: 1.5em;
}

.navbar-nav{
	color:white;
	
	
	
}
.navbar-header
{


}
.dropdown-menu
{

background: #252525;
color: white;
border-color: white;
padding: 5px;
font-size: 0.75vw;
text-align: center;
}


#nav-list a
	{
	text-align: center;
	
	margin: 5px;
	color:white;
	padding: 5px;
	font-size: 1.5em;
	
}

#nav-list div
	{
	text-align: center;
	
	margin-right: 10px;
	color:white;
	padding: 5px;
	
	
}




.navbar-right
{
	float:right;
}


/*end of header*/


#dp
{
	border:1px solid black;
	height: 200px;
	width: 200px;
	margin-left: 80px;
	padding:0;
	overflow:hidden;
	border-radius:10px;
	
    
    
    

}

body
{
	font-size: 3vw;

	background-image: url('https://4.bp.blogspot.com/-Mh0XXCp7zZQ/UlENk2gFH3I/AAAAAAAAQB8/3IMbjJClhHs/s0/Champions+League+Stadium+hd+wallpapers.jpg');
}

#about
{
	color:white;
	text-shadow:0 0 1px black ;
	font-size: 3vw;
	font-family:  'Prociono', serif;
}

hr{
	border-top-color:white;
}

#posts a{
    color:white;
    
}